In [1]:
import pandas as pd
import numpy as np

In [2]:
fold_1 = pd.read_csv('/kaggle/input/lgbt-on-leaks-fold-1/submission.csv')
fold_2 = pd.read_csv('/kaggle/input/lgbt-on-leaks-fold-2/submission.csv')
fold_3 = pd.read_csv('/kaggle/input/lgbt-on-leaks-fold-3/submission.csv')
fold_4 = pd.read_csv('/kaggle/input/lgbt-on-leaks-fold-4/submission.csv')
fold_5 = pd.read_csv('/kaggle/input/lgbt-on-leaks-fold-5/submission.csv')

In [3]:
fold_1.head()

   row_id  meter_reading
0       0       5.254993
1       1       4.372773
2       2       1.834193
3       3       5.717949
4       4       7.279927

In [4]:
fold_1['meter_reading'] = (fold_1['meter_reading'] + fold_2['meter_reading'] + fold_3['meter_reading'] + fold_4['meter_reading'] + fold_5['meter_reading'])/5

In [5]:
fold_1.head()

   row_id  meter_reading
0       0       5.233053
1       1       4.377257
2       2       1.883528
3       3       5.718986
4       4       7.283384

In [6]:
fold_1['meter_reading'] = np.expm1(fold_1['meter_reading'])
fold_1.loc[fold_1['meter_reading'] < 0, 'meter_reading'] = 0

In [7]:
fold_1.head()

   row_id  meter_reading
0       0     186.364045
1       1      78.619310
2       2       5.576666
3       3     303.595933
4       4    1454.906957

In [8]:
fold_1.to_csv('submission_fold_bland.csv',index=False)