In [1]:
import pandas as pd
import numpy as np

In [2]:
fold_1 = pd.read_csv('/kaggle/input/lgbt-fold-1/submission.csv')
fold_2 = pd.read_csv('/kaggle/input/lgbt-fold-2/submission.csv')
fold_3 = pd.read_csv('/kaggle/input/lgbt-fold-3/submission.csv')
fold_4 = pd.read_csv('/kaggle/input/lgbt-fold-4/submission.csv')
fold_5 = pd.read_csv('/kaggle/input/lgbt-fold-5/submission.csv')

In [3]:
fold_1.head()

   row_id  meter_reading
0       0       5.219144
1       1       4.245670
2       2       1.708637
3       3       5.638447
4       4       7.097703

In [4]:
fold_1['meter_reading'] = (fold_1['meter_reading'] + fold_2['meter_reading'] + fold_3['meter_reading'] + fold_4['meter_reading'] + fold_5['meter_reading'])/5

In [5]:
fold_1.head()

   row_id  meter_reading
0       0       5.202662
1       1       4.267930
2       2       1.966273
3       3       5.659648
4       4       7.221396

In [6]:
fold_1['meter_reading'] = np.expm1(fold_1['meter_reading'])
fold_1.loc[fold_1['meter_reading'] < 0, 'meter_reading'] = 0

In [7]:
fold_1.head()

   row_id  meter_reading
0       0     180.755360
1       1      70.373725
2       2       6.144003
3       3     286.047695
4       4    1367.398201

In [8]:
fold_1.to_csv('submission_fold_bland.csv',index=False)